@use '../../scss/' as *;

.banner {
	height: 65vh;
	position: relative;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include overlay();
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100px;
		background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
	}
}

.movie-content {
	@include flex(flex-start, flex-start);
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -300px;
	position: relative;
	padding: 0 2rem;

	&__poster {
		flex: 1;

		@include mobile {
			display: none;
		}

		&__img {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			border-radius: $border-radius;
			padding-top: 165%;
		}
	}

	&__info {
		width: 70%;
		padding-left: 2rem;
		position: relative;

		@include mobile {
			width: 100%;
			padding-left: 0;
		}

		& > * {
			margin-bottom: 2rem;
		}

		.title {
			font-size: 3.5rem;
			line-height: 1;
			margin-bottom: 0.75rem;
		}

		.tagline {
			font-size: 1.3rem;
			font-style: italic;
		}

		.actions {
			margin-top: 4rem;

			&__item {
				margin-right: 1rem;
				padding: 0.75rem 1.5rem;
				border: 2px solid $white;
				border-radius: $border-radius;
				font-size: 0.8rem;
				font-weight: 600;
				background-color: $body-bg;
			}
		}
		.actions__item:hover {
			color: $main-color;
			background-color: $white;
		}

		.genres {
			& > * ~ * {
				margin-left: 1rem;
			}

			&__item {
				font-size: 1rem;
				font-weight: 600;
				color: $secondary-color;
			}
		}
	}
}

.casts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 10px;
	margin-top: 1rem;

	&__item {
		width: 60px;
		height: 60px;
		&__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}
.video {
	margin-bottom: 3rem;

	&__title {
		margin-bottom: 1.5rem;
	}
}
